<div class="body" style="margin-top: 51px; font-family: Helvetica Neue, Helvetica, Arial, sans-serif;">
  <div class="container" style="margin-left: auto 15px;">
  	<div class="row" style="margin-left: -15px; margin-right: -15px;">
      <div class="container">

      	<h1>Welcome to <span class="glyphicon glyphicon-book"></span><strong>Bookers</strong>!</h1>

	   </div>
    </div>
  </div>
</div>