<div class="body" style="margin-top: 51px; font-family: Helvetica Neue, Helvetica, Arial, sans-serif;">
  <div class="container" style="margin-left: auto 15px;">
  	<div class="row" style="margin-left: -15px; margin-right: -15px;">
  		<div class="top-message col-md-offset-3 col-md-6">
          <% if flash[:notice] %>
              <%= flash[:notice] %>
          <% end %>


		 <h1>welcome to <span class="glyphicon glyphicon-book"><strong>Bookers</strong>  !!</span></h1>
	      <p>In  <span class="glyphicon glyphicon-book"></span><strong>Bookers</strong>, </p>
	      <p>you can share and exchange  your opinions , inpressions , and emotions</p>
	      <p> about various books!</p>

          <div class="btn-wrapper">
      		<div class="row" style="margin-left: -15px; margin-right: -15px; color: #666;">
      			<button type="button" class="btn btn-info btn-block">
      				<%=link_to 'Log in', new_user_session_path %>
  				</button>
			</div>
			<div class="row">
      			<button type="button" class="btn btn-success  btn-block">
      				<%=link_to 'Sign up', new_user_registration_path %>
  				</button>
			</div>
		  </div>
		</div>
    </div>
  </div>
</div>

